<div>
    <div class="outer">
        <div class=row> 
        <img class="logo" width="25%" alt="vRA Logo" src="../assets/circleci-logo-stacked-fb.png">
        <img class="logo" width="15%" alt="vRA Logo" src="../assets/cs.svg">
        </div>
    </div>
    <div class="clr-row">
            <div>
                <div class="card">
                    <div class="card-header">
                        VMware Code Stream and CircleCI - Better Together! 
                    </div>
                    <div class="card-block">
                        <div class="card-text">
                            This Cloud Native Application was built in CircleCI and automatically pushed into DockerHub. Afterwards, we built an Open Source CircleCI Orb
                            to interact with the Cloud Automation Services API to invoke a Code Stream pipeline, which deployed this app to a VMware Cloud PKS cluster! 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
